{% extends '../base.html' %}
{% block title %}Minhas Jornadas{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Minhas Jornadas</h2>
{% if jornadas %}
    <ul class="list-group">
        {% for jornada in jornadas %}
            <li class="list-group-item">
                <h5>{{ jornada.nome }}</h5>
                <p>{{ jornada.descricao }}</p>
                <small>Estado: {{ jornada.estado_atual }} | Progresso: {{ jornada.progresso_na_jornada }}%</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-center">Você ainda não criou nenhuma jornada.</p>
{% endif %}
<div class="text-center mt-3">
    <a href="{% url 'menu' %}" class="btn btn-outline-secondary">Voltar ao Menu</a>
</div>
{% endblock %}
